.card-item {
  position: relative;
  background-color: white;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  width: calc(90vw - 60px);
  margin-bottom: 10px;
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: .5s ease-in-out;
}

@keyframes item-delete-anim {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
}

.card-item-delete {
  animation-name: item-delete-anim;
  animation-duration: 0.5s;
}

.card-item:nth-child(odd) {
  margin-left: calc(5vw + 60px);
}

.icon-container {
  z-index: 2;
  height: 60px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #A081FA 0%,#7BB9F6 100%);
}

@keyframes icon-delete-anim {
    from {transform: rotateY(0);}
    to {transform: rotateY(180deg);}
}

.icon-delete {
  animation-name: icon-delete-anim;
  animation-duration: 0.5s;
}

.item-image{
  height: 60px;
  width: 100%;
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-text{
  text-align: center;
  color: white;
  font-weight: 200;
  filter:drop-shadow(0 0 8px black);
  font-size: 24px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.3;
}
